<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>게시판</title>
</head>
<body>
    <h1>Server Side Javascript</h1>
    <ol>
        <% for(i=0;i<topics.length;i++) {%>
        <li><%= topics[i].title %> &nbsp;:&nbsp; <%= topics[i].description %></li>
        <% } %>
    </ol>
    <article>
        <form action="/topic/add" method="POST">
            <p><input type="text" name="title" placeholder="제목"></p>
            <p><textarea type="text" name="description" placeholder="내용입력"></textarea></p>
            <p><input type="text" name="author" placeholder="글쓴이"></p>
            <p><input type="submit"></p>
        </form>
    </article>
</body>
</html>